<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>host</key>
	<string>http://192.168.28.34:8001</string>
	<key>appid</key>
	<string>appid_for_test</string>
	<key>projectid</key>
	<string>project_id_for_test</string>
	<key>appkey</key>
	<string>app_key_for_test</string>
	<key>connectiontag</key>
	<string>connection_tag_for_test</string>
	<key>apptitle</key>
	<string>my_app</string>
	<key>alias</key>
	<string>edewit@me.com</string>
	<key>categories</key>
	<array>
		<string>one</string>
		<string>two</string>
	</array>
	<key>variantID</key>
	<string>123</string>
</dict>
</plist>
