<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="aerogear-windows-push" version="0.0.9" targetFramework="portable-win81+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="portable-win81+wpa81" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="portable-win81+wpa81" />
</packages>